<.header>
  Edit Home <%= @home.id %>
  <:subtitle>Use this form to manage home records in your database.</:subtitle>
</.header>

<.home_form changeset={@changeset} action={~p"/homes/#{@home}"} />

<.back navigate={~p"/homes"}>Back to homes</.back>
