<.header>
  New Plant
  <:subtitle>Use this form to manage plant records in your database.</:subtitle>
</.header>

<.plant_form changeset={@changeset} action={~p"/plants"} />

<.back navigate={~p"/plants"}>Back to plants</.back>
