<.header>
  New Species
  <:subtitle>Use this form to manage species records in your database.</:subtitle>
</.header>

<.species_form changeset={@changeset} action={~p"/species"} />

<.back navigate={~p"/species"}>Back to species</.back>
